{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1>Commerces</h1>
            {% if tradings %}
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Commerces</th>
                        <th>Offres</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trading in tradings %}
                        <tr>
                            <td>{{ trading.name }} <span class="small"><em>{{ trading.completeAddress }}</em></span></td>
                            <td>{{ trading.offers|length }}</td>
                            <td>
                                <a href="{{ path('show_trading', {'id':trading.id}) }}" class="btn btn-dark">Voir</a>
                                <a href="{{ path('edit_trading', {'id':trading.id}) }}"
                                   class="btn btn-primary">Modifier</a>
                                <a href="{{ path('delete_trading', {'id':trading.id}) }}"
                                   class="btn btn-danger" data-id="{{ trading.id }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Pas d'articles</p>
            {% endif %}
            <div class="navigation text-center">
                {{ pagerfanta(tradings, 'twitter_bootstrap4_translated', {routeName: 'tradings_index_paginated'}) }}
            </div>
        </div>
        <div class="col-md-2">
            <a href="{{ path('add_trading') }}" class="btn btn-success btn-block"><i class="fas fa-plus-circle"></i> Ajouter</a>
        </div>
    </div>
{% endblock %}