{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            {% if trading.offers | length > 0 %}
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Produit</th>
                        <th>Marque</th>
                        <th>Prix</th>
                        <th>Catégorie</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for offer in offers %}
                        <tr>
                            <td>
                                <img src="{{ asset(offer.webPath) }}" alt="offer-img" class="img-thumbnail" width="100" height="100">
                            </td>
                            <td>{{ offer.product | capitalize }}</td>
                            <td>{{ offer.brand }}</td>
                            <td>{{ offer.price }}</td>
                            <td>{{ offer.category.category | capitalize }}</td>
                            <td>
                                <a href="{{ path('edit_offer', {'id': trading.id,'offer_id':offer.id}) }}"
                                   class="btn btn-primary">Modifier</a>
                                <a href="{{ path('delete_offer', {'id': trading.id,'offer_id':offer.id}) }}"
                                   class="btn btn-danger" data-id="{{ offer.id }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Pas d'offres</p>
            {% endif %}
            {% if offers.haveToPaginate %}
                <div class="navigation text-center">
                    {{ pagerfanta(offers, 'twitter_bootstrap4_translated', {routeName: 'offers_index_paginated', routeParams: {'id': trading.id}}) }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-2">
            <a href="{{ path('add_offer', {'id': trading.id}) }}" class="btn btn-success btn-block"><i
                        class="fas fa-plus-circle"></i>
                Ajouter</a>
        </div>
    </div>
{% endblock %}


