{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Ajouter une offre</h1>
            {{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
