<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}SmartCity{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

    {% endblock %}
</head>
<body>
{{ include('navbar.html.twig') }}

<div class="container">
    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://maps.google.com/maps/api/js?key=AIzaSyAti8CWBBBGybj2LGdARI2ycgWZiZszv7o&libraries=places&language=fr-FR"></script>
    <script>
      /*Google Place Autocomplete*/
      function initializeAutocomplete(id) {
        let element = document.getElementById(id);
        if (element) {
          // let autocomplete = new google.maps.places.Autocomplete(element, {types: ['(cities)']});
          let autocomplete = new google.maps.places.Autocomplete(element, {types: ['geocode']});
          google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
          element.setAttribute('autocomplete', 'user-password');
        }
      }

      function onPlaceChanged() {
        let place = this.getPlace();

        console.log(place);  // Uncomment this line to view the full object returned by Google API.

        let placeLocation = place.geometry.location;
        console.log(placeLocation);
        let lat = document.getElementById('trading_latitude');
        let long = document.getElementById('trading_longitude');
        lat.value = placeLocation.lat();
        long.value = placeLocation.lng();

        for (let i in place.address_components) {
          let component = place.address_components[i];
          let streetNumber = document.getElementById('trading_streetNumber');
          let route = document.getElementById('trading_route');
          let city = document.getElementById('trading_location_city');
          let country = document.getElementById('trading_location_country');
          let countryLongName = document.getElementById('trading_location_countryLongName');
          let postalCode = document.getElementById('trading_postalCode');

          for (let j in component.types) {  // Some types are ["country", "political"]
            switch (component.types[j]) {
              case 'locality':
                city.value = component.long_name;
                break;
              case 'country':
                country.value = component.short_name;
                countryLongName.value = component.long_name;
                break;
              case 'street_number':
                streetNumber.value = component.long_name;
                break;
              case 'route':
                route.value = component.long_name;
                break;
              case 'postal_code':
                postalCode.value = component.long_name;
            }
          }
        }
      }

      google.maps.event.addDomListener(window, 'load', function () {
        let element = document.getElementById('trading_completeAddress');
        initializeAutocomplete('trading_completeAddress');
      });
    </script>
{% endblock %}
</body>
</html>
