{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1>Ajouter une pub</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

